/* ==== DEFAULT STYLES ==== */
html { box-sizing: border-box; }

*,
  *::before,
  *::after {
    box-sizing: inherit;
  }

* {
  margin: 0;
  padding: 0;
}

img { 
  max-width: 100%;
  display: block;
}

a { text-decoration: none; }

li{
  list-style: none;
}

/* utility class */
.container{
  margin-inline: auto;
  width: min(90%, 120rem);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacing > *+* {
  margin-top: var(--spacer, 2rem);
}

/* ==== CUSTOM PROPERTIES (VARIABLES) */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root{

  --clr-primary-one: #49a6e9;
  --clr-primary-two: #102a42;
  --clr-primary-three: #617d98;

  --clr-secondary-one: #f1f5f8;
  --clr-secondary-two: #ffffff;

  /* font */
  font-size: 62.5%;
  --fs-700: clamp(2.5rem, 5vw, 3.5rem);
  --fs-400: clamp(1.25rem, 2vw, 1.75rem);
  --ff-primary: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 400;
  min-height: 100vh;
  text-align: center;
}

.heading {
  font-size: var(--fs-700);
  font-weight: 700;
  color: var(--clr-primary-two);
  letter-spacing: 0.275rem;
}

.card__name {
  color: var(--clr-primary-two);
  text-transform: capitalize;
  letter-spacing: 0.25rem;
}

.card__job {
  color: var(--clr-primary-one);
  text-transform: uppercase;
}

.card__text {
  color: var(--clr-primary-three);
}

.btn {
  color: var(--clr-primary-two);
  text-transform: capitalize;
  padding: 0.75rem 1.25rem;
  background: var(--clr-secondary-two);
  border: 0.1rem solid var(--clr-primary-two);
  border-radius: 0.75rem;
  transition: all 0.3s linear;
}

.btn:hover, .btn:focus {
  color: var(--clr-secondary-two);
  background: var(--clr-primary-two);
  cursor: pointer;
}

